.display {
  width: 100%;
  height:100vh;
  display: block;
  background-size: cover;
}


.dateText{
  position:absolute;
  top:297px;
  /* left:430px; */
  margin-left: 438px;
  margin-top: 10px;
  color: green;
  text-align: center;
  font-family: 'brownStd',sans-serif;
}


.logo-img{
  position:absolute;
  top:257px;
  left:420px;
  align-items: center;
  display:block;
  margin:0 auto;
}



@font-face {
  font-family: 'brownStd';
  src: local('brownStd'), url(./fonts/BrownStd-Regular.woff) format('woff');
}
